/*
Name: 
Date: 
*/

:root{
    --main-bg-colour: #05445e;
    --sec-bg-colour: #189ab4;
    --main-colour: #d4f1f4;
    --sec-colour: #75e6da;
}

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "references references references"
    "footer footer footer";
}

.container > div{ /*DO NOT REMOVE*/
    padding: 20px;
}

.header{ /*DO NOT REMOVE*/
    grid-area: header;
    background-color: #000000;
    text-align:center;
    font-family: 'Abril Fatface', cursive;
    color: var(--main-colour);
}

.main{ /*DO NOT REMOVE*/
    grid-area: main;
    background-color: var(--sec-bg-colour);
    color: var(--main-colour);
}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
    background-color: #3333FF;
  
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
    background-color: #3333FF;
    
}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
    background-color: #3333FF;
 
}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    background-color: #3333FF;
    
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
    text-align: center;
    background-color: #3333FF;
    
}

.references {
  grid-area :references;
  text-align: center;
  background-color: #000000;

}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    background-color:#000000;
    color: var(--main-colour);
    text-align: center;
}
h2,
h4 {
 font-family: 'Bebas Neue', cursive; 
}
p,
ol{
  font-family: 'Open Sans Condensed', sans-serif;
}
h4,a,h1,p,li,h2 {
  color:#FFFFFF;
}